<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="black">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/upcommingSongs">upcomming Songs </a>
      <a mat-list-item routerLink="/oldSongs">oldSongs </a>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <!-- <span>CMatch</span> -->
        <!-- <span class="btn btn-default" routerLink="/Login">Login</span>
        <span class="btn btn-default" routerLink="/Register">Register</span> -->

        <!--  <span>HOME</span> -->
        <!-- <span><a href="/">HOME</a></span>
        <span class="spacer"></span>
        <a mat-button routerLink="/Register">Register</a>
        <a mat-button routerLink="/Login">Login</a> -->
      </mat-toolbar-row>
    </mat-toolbar>
    <!-- Add Content Here--->
  </mat-sidenav-content>
</mat-sidenav-container>